@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Comfortaa'; */
  background-color: #f5f3f3;
  scroll-behavior: smooth !important;
}

html, body {
  scroll-behavior: smooth !important;
}

.no-scbar::-webkit-scrollbar{
  display: none;
}

Image, #rsm {
  user-select: none;
  -webkit-user-drag: none;
}

:target{
  padding-top:88px; /* = to height of navbar */
  margin-top:-88px;
}